.footer {
  min-height: 12rem;
  padding: 1.5rem;
  background-color: $fivestar-complement;
  color: $fivestar-primary;

  .logo {
    height: rem-calc(50px);
    margin-top: rem-calc(15px);
  }

  text-align: center;
  @include breakpoint(medium) {
    text-align: left;
  }

  .footer-share-buttons-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: rem-calc(20px);

    @include breakpoint(medium) {
      justify-content: flex-end;
    }
  }
}
