.navbar {
  height: rem-calc(70px);

  .navbar-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .share-buttons-container {
    margin-top: rem-calc(20px);
    margin-bottom: rem-calc(50px);
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;

  a {
    height: 70%;
  }

  .logo {
    height: 100%;
  }
}
