.navbar {
  height: rem-calc(70px);

  .navbar-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .share-buttons-container {
    margin-top: rem-calc(20px);
    margin-bottom: rem-calc(50px);
  }
}

.logo {
  height: 100%;
}
