.results-item {
  box-shadow: 0px 2px 6px 2px $medium-gray;
  border-radius: rem-calc(2px);
  overflow: hidden;

  display: flex;
  flex-direction: column;

  height: rem-calc(13rem);

  margin-bottom: rem-calc(15px);

  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px 4px $medium-gray;
  }

  .product-image {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
  }

  .product-info {
    margin: 0;
    background-color: $white;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    padding-left: rem-calc(8px);
    padding-right: rem-calc(8px);

    h3 {
      margin: 0;
      font-size: 0.7rem;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p {
      margin: 0;
      font-size: 0.7rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .price-display {
    float: right;
    font-size: 0.8rem;
    padding: rem-calc(3px) rem-calc(8px);
    background-color: $fivestar-primary;
  }
}
