.search-container {
  margin-top: rem-calc(20px);

  label {
    font-size: 0.6rem;
  }
}

.search-bar-container {
  box-shadow: 0px 4px 13px 1px $medium-gray;
  margin-bottom: rem-calc(100px);

  .search-bar-input {
    box-shadow: none;
    border: none;
  }
}

