.share-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;

  .SocialMediaShareButton {
    cursor: pointer;

    margin-left: rem-calc(10px);
    margin-right: rem-calc(10px);
  }

  @include breakpoint(medium) {
    .SocialMediaShareButton:last-child {
      margin-right: 0;
    }
  }
}
