@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "~foundation-sites/scss/foundation.scss";

$fivestar-primary: #FBEF7E;
$fivestar-primary-dark: #FFEC3D;  // @TODO(shrugs) confirm with niko
$fivestar-complement: #515360;

@import "./_settings.scss";
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything;

@import 'navbar.scss';
@import 'tagline.scss';
@import 'searchbar.scss';
@import 'results_section.scss';
@import 'results_item.scss';
@import 'footer.scss';
@import 'share_buttons.scss';

.help-text {
  font-style: none;
  font-size: 1rem;
  text-align: center;
  color: $dark-gray;
}

button {
  background-color: $fivestar-primary;
  text-transform: uppercase;
  font-weight: bold;

  &:active, &:hover, &:focus {
    background-color: $fivestar-primary-dark;
  }
}

.results-list-container {
  margin-top: rem-calc(30px);
}

.results-container {
  min-height: 70vh;
}
