html, body {
    height: 100%;
}

.twitter-share-button {
    margin-left: 10px;
}

.form-search {
    margin-top: 15px;
}

.header {
    margin-top: 5px;
}

.btn-primary.active {
    background-color: #008ABD;
}

.input-group .btn.dropdown-toggle.selectpicker {
    border-radius: 17px 0 0 17px;
    border-right: none;
}

.dropdown-menu li a {
    padding: 0px 20px;
}

.bootstrap-select .btn:focus {
    outline: none !important;
    background-color: #FFFFFF;
    color: #434a54;
    outline-offset: 0;
}

.narrow-by-header {
    display: inline;
    margin-right: 20px;
}

.filter-block {
    margin-top: 15px;
}

.results-block {
    margin-top: 10px;
}

.node-cont {
    margin-right: 20px;
}

.item-price {
    margin-top: 10px;
    text-align: center;
}

.item-new-price {
    margin-top: 2px;
    margin-bottom: 5px;
}

.item-list-price {
    margin-top: 10px;
    margin-bottom: 2px;
}

.max {
    height: 100%;
}

.bracket-price {
    text-align: center;
}

.only-amazon {
    margin-top: 10px;
    display: inline-block;
    margin-left: 15px;
}

.new-price {
    color: #F6BB42;
}

.logo {
    margin-top: 35px;
    width: 100%;
}

.item-attr-list {
    overflow: hidden;
}

.first-run, .show-delay, .no-results, .error, .foot, .loading {
    text-align: center;
    margin-top: 5%;
}
.foot {
    margin-top: 10%;
    margin-bottom: 5%;
}

.index-nag {
    margin-top: 2px;
    text-align: center;
}

.throttle-error {
    margin-bottom: 5px;
}

/* XS */
@media (max-width:767px) {
    .bracket-price {
        font-size: 18px;
    }

    .bootstrap-select>.selectpicker>.filter-option {
        font-size: 0.6em;
        margin-top: 5px;
    }

    .onlyAmazon {
        font-size: 0.6em;
        padding-top: 11px;
        padding-bottom: 10px;
        padding-left: 6px;
        padding-right: 6px;
    }
}

/* SM */
@media (min-width:768px) {
    .bracket-price {
        font-size: 30px;
    }
}


/* MD */
@media (min-width:992px) {

}

/* LG */
@media (min-width: 1200px) {

}

.download {
  height: 70px;
  margin-bottom: 10px;
}