<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
    <input type="text" ng-model="state.query" placeholder="query">
    <select ng-model="state.index">
        <option value="All">All</option>
        <option value="Appliances">Appliances</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <input type="number" ng-model="state.node" placeholder="node">
    <select ng-model="state.brand">
        <option value="Brand1">Brand1</option>
        <option value="Brand2">Brand2</option>
        <option value="Brand3">Brand3</option>
        <option value="Brand4">Brand4</option>
    </select>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
