<div class="row">
    <!-- HEADER w/ SEARCH BAR -->
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 header">
        <img src="images/logo.png" class="logo">
        <div class="row throttle-error">
            <span class="text-muted">Amazon is currently throttling API requests. If FiveStar is broken, it may work again in an hour. Sorry for the inconvenience!</span>
        </div>
        <div class="input-group form-search">
            <!-- <span class="input-group-btn"> -->
                <select selectpicker ng-model="state.index" class="input-group-btn">
                    <option value="All">All Depts.</option>
                    <option data-divider="true"></option>
                    <option value="Appliances">Appliances</option>
                    <option value="MobileApps">Apps for Android</option>
                    <option value="ArtsAndCrafts">Arts & Crafts</option>
                    <option value="Automotive">Automotive</option>
                    <option value="Baby">Baby</option>
                    <option value="Beauty">Beauty</option>
                    <option value="Books">Books</option>
                    <option value="WirelessAccessories">Mobile & Acc.</option>
                    <option value="Apparel">Clothing & Acc.</option>
                    <option value="Collectibles">Collectibles</option>
                    <option value="PCHardware">Computers</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Grocery">Grocery & Food</option>
                    <option value="HealthPersonalCare">Health & Personal Care</option>
                    <option value="HomeGarden">Home & Garden</option>
                    <option value="Industrial">Industrial & Sci.</option>
                    <option value="Jewelry">Jewelry</option>
                    <option value="KindleStore">Kindle Store</option>
                    <option value="Kitchen">Kitchen</option>
                    <option value="Magazines">Magazine Subscriptions</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                    <option value="DigitalMusic">MP3 Music</option>
                    <option value="Music">Music</option>
                    <option value="MusicalInstruments">Musical Instruments</option>
                    <option value="OfficeProducts">Office Products</option>
                    <option value="OutdoorLiving">Outdoor Living</option>
                    <option value="LawnGarden">Patio, Lawn & Garden</option>
                    <option value="PetSupplies">Pet Supplies</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Software">Software</option>
                    <option value="SportingGoods">Sports & Outdoors</option>
                    <option value="Tools">Tools & Home</option>
                    <option value="Toys">Toys & Games</option>
                    <option value="VideoGames">Video Games</option>
                    <option value="Watches">Watches</option>
                </select>
            <!-- </span> -->
            <input type="text" class="form-control search-query" ng-model="state.query" placeholder="'coffee maker', 'toaster', 'card game', 'recliner'">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" data-type="last" ng-click="getData()">Search</button>
            </span>
        </div>
    </div>
</div>

<!-- FILTER SECTION -->
<div class="row filter-block" ng-show="results && !loading">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" ng-hide="results.narrowNodes.length === 0 || noResults">
        <h5 class="narrow-by-header">Narrow Search By:</h5>
        <div class="btn-group node-cont" ng-repeat="section in results.narrowNodes">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-style="{borderRadius: isBin(section['@'].NarrowBy) ? '4px 0 0 4px' : undefined}" ng-disabled="section.Bin.length === 0">
                {{section['@'].NarrowBy | prettyNodeName}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="n in section.Bin | nodeSort | orderBy:'BinItemCount':true">
                    <a ng-click="selectBin(n.BinParameter)">{{n.BinName | prettyDeptName}} ({{n.BinItemCount}})</a>
                </li>
            </ul>
            <button type="button" class="btn btn-danger" ng-show="isBin(section['@'].NarrowBy)" ng-click="clearBin(section['@'].NarrowBy)"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
        <div ng-show="false">
            <div class="checkbox only-amazon">
                <label>
                    <input type="checkbox" ng-model="state.onlyAmazon"> Only Amazon Items
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row index-nag">
    <span class="text-muted" ng-show="(state.index == 'All') && (state.query.length > 1)">Choose a Department to begin narrowing your search.</span>
</div>
<div class="row results-block" ng-show="results && !loading">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row" ng-repeat="bracket in results.results">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 bracket">
                <!-- BRACKET -->
                <h2 class="bracket-price" ng-show="bracket.items">${{bracket.minPrice/100}}+</h2>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 bracket">
                <!-- Cards -->
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" ng-repeat="item in bracket.items">

                        <div class="thumbnail">
                            <!-- SHOWN IF LOWER NEW PRICE -->
                            <span class="item-price" ng-if="item.OfferSummary.LowestNewPrice">
                                <h2 class="item-list-price">
                                    {{item.OfferSummary.LowestNewPrice.FormattedPrice}}
                                </h2>
                                <h6 class="item-new-price text-muted" ng-show="item.OfferSummary.LowestNewPrice">({{item.OfferSummary.TotalNew}} available, originally <span class="new-price">{{item.ItemAttributes.ListPrice.FormattedPrice}}</span>)</h6>
                            </span>
                            <!-- SHOWN IF NO LOWEST NEW PRICE -->
                            <span class="item-price" ng-if="!item.OfferSummary.LowestNewPrice">
                                <h2 class="item-list-price">
                                    {{item.ItemAttributes.ListPrice.FormattedPrice}}
                                </h2>
                                <h6 class="item-new-price text-muted" ng-show="item.OfferSummary.LowestNewPrice">({{item.OfferSummary.TotalNew}} new from <span class="new-price">{{item.OfferSummary.LowestNewPrice.FormattedPrice}}</span>)</h6>
                            </span>
                            <img ng-src="{{item.LargeImage ? item.LargeImage.URL : '/images/no_image.png'}}" width="{{item.LargeImage ? item.LargeImage.Width['#'] : 500}}" height="{{item.LargeImage ? item.LargeImage.Height['#'] : 400}}" class="item-img">
                            <div class="caption">
                                <h3>{{item.ItemAttributes.Title}}</h3>
                                <div class="row">
                                    <ul class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1 ellipses item-attr-list">
                                        <li ng-repeat="f in arrayIfNot(item.ItemAttributes.Feature) | limitTo:3 track by $index">{{f}}</li>
                                        <li>...</li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <a class="btn btn-success btn-block" ng-href="{{item.DetailPageURL}}" target="_blank">View on Amazon</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row first-run" ng-show="firstRun">
    <span class="text-muted">FiveStar gives you the best Amazon product in a domain, by price bracket.</span>
</div>
<div class="row loading" ng-hide="!loading || !((!showDelay || results) || error)">
    <span class="text-muted">Loading...</span>
</div>
<div class="row show-delay" ng-hide="(!showDelay || results) || error">
    <span class="text-muted">Well, this is taking longer than usual...</span>
</div>
<div class="row no-results" ng-show="noResults">
    <span class="text-muted">Dang, we couldn't find anything. Try a more generic query or a different Department.</span>
</div>
<div class="row error" ng-show="error">
    <span class="text-muted">{{error}}</span>
</div>
<div class="foot">
    <span>FiveStar ♥ <a href="http://matt.cond.in">Matt Condon</a> | <a href="https://twitter.com/MattCMultimedia">@MattCMultimedia</a> | <a href="mailto:m@cond.in">m@cond.in</a></span>
</div>