<div class="row search-header-cont">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <div class="row">
            FiveStar.io - Only the best.
        </div>
        <div class="row">
            <div class="input-group">
                <div class="input-group-btn">
                    <select class="form-control pull-left search-index" ng-model="index">
                        <option value="All">Choose a Dept.</option>
                        <option value="Appliances">Appliances</option>
                        <option value="MobileApps">Apps for Android</option>
                        <option value="ArtsAndCrafts">Arts & Crafts</option>
                        <option value="Automotive">Automotive</option>
                        <option value="Baby">Baby</option>
                        <option value="Beauty">Beauty</option>
                        <option value="Books">Books</option>
                        <option value="WirelessAccessories">Mobile & Acc.</option>
                        <option value="Apparel">Clothing & Acc.</option>
                        <option value="Collectibles">Collectibles</option>
                        <option value="PCHardware">Computers</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Grocery">Grocery & Food</option>
                        <option value="HealthPersonalCare">Health & Personal Care</option>
                        <option value="HomeGarden">Home & Garden</option>
                        <option value="Industrial">Industrial & Sci.</option>
                        <option value="Jewelry">Jewelry</option>
                        <option value="KindleStore">Kindle Store</option>
                        <option value="Kitchen">Kitchen</option>
                        <option value="Magazines">Magazine Subscriptions</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                        <option value="DigitalMusic">MP3 Music</option>
                        <option value="Music">Music</option>
                        <option value="MusicalInstruments">Musical Instruments</option>
                        <option value="OfficeProducts">Office Products</option>
                        <option value="OutdoorLiving">Outdoor Living</option>
                        <option value="LawnGarden">Patio, Lawn & Garden</option>
                        <option value="PetSupplies">Pet Supplies</option>
                        <option value="Shoes">Shoes</option>
                        <option value="Software">Software</option>
                        <option value="SportingGoods">Sports & Outdoors</option>
                        <option value="Tools">Tools & Home</option>
                        <option value="Toys">Toys & Games</option>
                        <option value="VideoGames">Video Games</option>
                        <option value="Watches">Watches</option>
                    </select>
                </div>
                <input type="search" class="form-control" ng-model="query" placeholder="toaster, t-shirt, DSLR">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="updateSearch">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>